html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: sans-serif;
}
.section-header {
	padding: 1rem;
	text-align: center;
}
.stuck {
/*	position: sticky;
	top: 0;*/
}

.section-page {
	height: 100vh;
	padding: 4rem 1rem 1rem;
}
.section-page:nth-of-type(odd) {
	background: black;
	color: white;
}
.navigation {
	background: white;
}
.navigation__list {
	padding: 0;
	margin: 0;
}
.navigation__list-item {
	list-style: none;
	display: inline-block;
	margin: 1rem;
}
.navigation__link {
    padding: 1rem;  
    display: block; 
}
.navigation__link:hover {
	background: purple;
	color: white;
}
@media (min-width: 40rem) {
    .my-excellent-class {
        background: green;
    }
    .my-other-class {
    	background: purple;
    }
}
/*@media (min-width: 40rem) {
    .navigation__item {
        display: inline-block;
    }
    .navigation__link {
        display: inline;
    }
}*/