/* Elements */
html {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 .5rem;
}

/* Components */

.button {
    display: inline-block;
    color: white;
    background: black;
    padding: .5rem 2rem;
    text-decoration: none;
    box-shadow: 2px 2px 2px #c4c4c4;
    align-self: flex-start;
    margin: 2rem auto 0;
}

.button:hover {
    text-decoration: underline;
    box-shadow: 3px 3px 2px #d3d3d3;
}

.button:active {
    box-shadow: 1px 1px 1px #c4c4c4;
    ;
}

.heading {
    font-family: serif;
    text-align: center;
}

.nav-list--header {
    justify-content: center;
    margin-top: 1rem;
}

.home-rule {
    height: 4px;
    width: 80%;
}

/* Layout */

.content {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

.columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4rem;
}

.columns--three-col .image {
    order: -1;
    margin-bottom: 2rem;
}

/* Sections */
.header__heading {
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: .5rem;
}

.header__image {
    margin: 0 auto;
    max-height: 22rem;
    padding: 0 0 1rem;
}

.header__summary {
    text-align: center;
}

.main__heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.emphasis {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-style: italic;
    font-family: serif;
    line-height: 1.4;
    text-align: center;
}

.nav-list a {
    display: inline-block;
    padding: 1rem;
}

/* Helpers */
.inverted {
    background: black;
    color: white;
}

.inverted .button {
    background: white;
    color: black;
}

.inverted a {
    color: white;
}

.inverted .home-rule {
    background-color: white;
}

.padding-vertical {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* Media queries */
@media (min-width: 48rem) {
    .mobile-only {
        display: none;
    }

    .button {
        margin-top: 1rem;
        margin-left: 0;
        margin-right: 0;
    }

    .header__heading {
        text-align: left;
        font-size: 3rem;
    }

    .columns {
        flex-direction: row;
    }

    .column {
        justify-content: flex-start;
        padding: 0 2rem;
    }

    .column.image {
        display: flex;
        justify-content: center;
    }

    .header .column-one {
        flex-basis: 40%;
    }

    .header .column-two {
        flex-basis: 60%;
    }

    .columns--three-col .column {
        flex-basis: 37ch;
    }

    .columns--three-col .image {
        order: 0;
        margin-bottom: 0;
    }

    .nav-list--header {
        justify-content: flex-start;
    }

    .header__image {
        padding: 0;
    }

    .text-block {
        max-width: 55ch;
    }

    .header__summary {
        text-align: left;
    }

    .emphasis {
        text-align: left;
    }
}