html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
/*
    Only style elements when you know
    for certain that these rules should
    always apply.
*/
img {
    /* Never allow images to be bigger
    than their parent */
    max-width: 100%;
}
nav ul {
    /* Nav lists don't need dots */
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
nav li {
    margin: 0 .5rem;
}